*.pub
__pycache__/
**/__pycache__/
*.ipynb_checkpoints
*.vscode/
*.egg-info/
*.pyc
*.pyo
*.pyd
experiments/*.ipynb
!experiments/1_tutorial.ipynb
**/.ipynb_checkpoints/
personal_github
/experiments/sk_orig/ptbp/complete_set/

.pytest_cache/
.mypy_cache/
.ruff_cache/